@charset "utf-8";

/* common */
:root {
  --d1: #111;
  --d2: #353535;
  --d3: #7a7a7a;
  --l1: #fff;
  --l2: #fafafa;
  --l3: #f2f2f4;
  --l4: #e5e5e8;
  --l5: #ccc;
  --r1: #c90000;
  --r2: #820000;
  --radius-lg: 20px;
  --radius-sm: 4px;
  font-size: 14px;
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background: var(--l3);
  color: var(--d1);
}

/* reset */
* {
  box-sizing: border-box;
}
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre, a,
img, strong, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
footer, header,
nav,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
  color: var(--text);
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
input {
  background: transparent;
  border: none;
  outline: none;
}
address {
  font-style: normal;
}